- title "New Suggestion"

%h2 Please tell us who you are

- form_for @user do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.submit 'Next'


